{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    ["inline-react-svg", {
      "svgo": {
        "plugins": [
          {
            "cleanupIDs": false
          }
        ]
      }
    }],
    "@babel/plugin-proposal-optional-chaining"
  ]
}



